/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  /* obtained from https://m2.material.io/design/color/dark-theme.html */
  --color-bg-dp-00: #121212;
  --color-bg-dp-01: #1e1e1e;
  --color-bg-dp-02: #232323;
  --color-bg-dp-03: #252525;
  --color-bg-dp-04: #272727;
  --color-bg-dp-06: #2c2c2c;
  --color-bg-dp-08: #2e2e2e;
  --color-bg-dp-12: #333333;
  --color-bg-dp-16: #363636;
  --color-bg-dp-24: #383838;

  --color-fg-emphasis-high: rgba(255, 255, 255, 0.87);
  --color-fg-emphasis-medium: rgba(255, 255, 255, 0.6);
  --color-fg-disabled: rgba(255, 255, 255, 0.38);

  --color-container-disabled: rgba(255, 255, 255, 0.12);

  --color-primary: #bb86fc;
  --color-primary-dimmed: #f3ebfc;
  --color-primary-variant: #3700b3;
  --color-secondary: #03dac6;
  --color-secondary-dimmed: #c3d9d6;
  --color-error: #cf6679;
  --color-disabled: #9e9e9e;
}
html {
  color: var(--color-fg-emphasis-high);
}

body {
  font-size: 0.9rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
